In [1]:
import numpy as np
import pandas as pd

In [2]:
lien_df = pd.read_csv('../data/lien_df1_18_01_23.csv', sep=';')

In [3]:
lien_df

,asset_id,views,publication_date,contact_name,seller_name,square,price_value,cadastral_geocode,region_geocode,shown_by_days,distance,region_square,population,region_capital,grp,criminality,km_to_msk,region_capital_geocode,km_to_region_capital
0,814114.0,1535.0,15 ноября 2022,Контактный Центр Банка,Банк ВТБ (ПАО),NaN,48700000.0,NaN,"[55.6711507, 37.2727963]",64.884407,NaN,44329.0,8542257.0,Москва,4201.8,72.9,23.785924,"[55.7504461, 37.6174943]",NaN
1,641505.0,2311.0,31 марта 2022,Гаас Александра Георгиевна,Физическое лицо,25111.0,145500000.0,"[51.94720028246027, 84.88831594503662]","[51.9931851, 84.9819571]",293.884407,8.221511,167996.0,2154932.0,Барнаул,550.0,130.8,3077.808288,"[53.347402, 83.7784496]",172.971129
2,169347.0,466.0,18 апреля 2022,Брюнель Ева Жисленовна,Физическое лицо,50574.0,4500000.0,"[56.77190698765615, 38.88962726762723]","[56.80208355, 38.64899133747492]",275.884407,15.086412,36177.0,1205637.0,Ярославль,560.6,105.1,137.376612,"[57.6263877, 39.8933705]",112.852414
3,899895.0,1286.0,25 июня 2022,Плесняев Александр Александрович,Плесняев Александр Александрович,504500.0,23450000.0,"[55.73199800626753, 35.340751735565306]","[55.506478, 36.0213092]",207.884407,49.688507,44329.0,8542257.0,Москва,4201.8,72.9,142.859455,"[55.7504461, 37.6174943]",143.008314
4,269183.0,1057.0,17 июня 2022,Беликин Иван Владимирович,Беликин Иван Владимирович,10000.0,320000000.0,"[55.7008175028533, 37.02131098410721]","[55.6711507, 37.2727963]",215.884407,16.159018,44329.0,8542257.0,Москва,4201.8,72.9,37.925763,"[55.7504461, 37.6174943]",37.865816
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
827,691104.0,269.0,20 мая 2021,Коваленко Александр Ан,"АО ""Россельхозбанк""",1527.0,10709963.0,"[56.21913602478085, 38.82900562858026]","[56.1345574, 38.85192758087219]",608.884408,9.524407,29084.0,1342235.0,Владимир,440.5,91.1,91.247107,"[56.1288899, 40.4075203]",98.556292
828,630263.0,279.0,20 мая 2021,Коваленко Александр Ан,"АО ""Россельхозбанк""",1321.0,9265136.0,"[56.220926330893064, 38.83048310378695]","[56.1345574, 38.85192758087219]",608.884408,9.708539,29084.0,1342235.0,Владимир,440.5,91.1,91.433379,"[56.1288899, 40.4075203]",98.483280
829,177552.0,281.0,20 мая 2021,Коваленко Александр Ан,"АО ""Россельхозбанк""",1676.0,11755032.0,"[56.21983629294916, 38.8300820194728]","[56.1345574, 38.85192758087219]",608.884408,9.591824,29084.0,1342235.0,Владимир,440.5,91.1,91.345769,"[56.1288899, 40.4075203]",98.496885
830,841885.0,610.0,11 мая 2021,Нуриев Эдуард Рамзилович,"АО ""Россельхозбанк""",150100.0,226651.0,"[55.822853130025955, 52.73092958759532]","[55.682141200000004, 52.09069161386946]",617.884408,43.145711,67847.0,4000084.0,Казань,2469.2,102.1,946.305150,"[55.7823547, 49.1242266]",226.197191
831,419254.0,461.0,22 апреля 2021,Самойленко Денис Сергеевич,ПАО Сбербанк,10000.0,8270000.0,"[57.14073651577907, 33.14393000643601]","[57.1557583, 33.1013213]",636.884408,3.074139,84201.0,1226038.0,Тверь,441.7,130.5,315.461761,"[56.8596713, 35.89524161906262]",170.094175

In [4]:
selected_df = lien_df[['views', 'contact_name', 'seller_name', 'square', 'shown_by_days', 'distance', 'region_square', 'region_capital',
                       'grp', 'criminality', 'km_to_msk', 'km_to_region_capital', 'price_value']].copy()

In [5]:
selected_df.dtypes

views                   float64
contact_name             object
seller_name              object
square                  float64
shown_by_days           float64
distance                float64
region_square           float64
region_capital           object
grp                     float64
criminality             float64
km_to_msk               float64
km_to_region_capital    float64
price_value             float64
dtype: object

In [6]:
from sklearn.preprocessing import *

In [9]:
def one_hot_encoder_two(data,feature,keep_first=True):

    one_hot_cols = pd.get_dummies(data[feature])

    for col in one_hot_cols.columns:
        one_hot_cols.rename({col:f'{feature}_'+col},axis=1,inplace=True)

    new_data = pd.concat([data,one_hot_cols],axis=1)
    new_data.drop(feature,axis=1,inplace=True)

    if keep_first == False:
        new_data=new_data.iloc[:,1:]

    return new_data

In [10]:
selected_df

,views,contact_name,seller_name,square,shown_by_days,distance,region_square,region_capital,grp,criminality,km_to_msk,km_to_region_capital,price_value
0,1535.0,Контактный Центр Банка,Банк ВТБ (ПАО),NaN,64.884407,NaN,44329.0,Москва,4201.8,72.9,23.785924,NaN,48700000.0
1,2311.0,Гаас Александра Георгиевна,Физическое лицо,25111.0,293.884407,8.221511,167996.0,Барнаул,550.0,130.8,3077.808288,172.971129,145500000.0
2,466.0,Брюнель Ева Жисленовна,Физическое лицо,50574.0,275.884407,15.086412,36177.0,Ярославль,560.6,105.1,137.376612,112.852414,4500000.0
3,1286.0,Плесняев Александр Александрович,Плесняев Александр Александрович,504500.0,207.884407,49.688507,44329.0,Москва,4201.8,72.9,142.859455,143.008314,23450000.0
4,1057.0,Беликин Иван Владимирович,Беликин Иван Владимирович,10000.0,215.884407,16.159018,44329.0,Москва,4201.8,72.9,37.925763,37.865816,320000000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
827,269.0,Коваленко Александр Ан,"АО ""Россельхозбанк""",1527.0,608.884408,9.524407,29084.0,Владимир,440.5,91.1,91.247107,98.556292,10709963.0
828,279.0,Коваленко Александр Ан,"АО ""Россельхозбанк""",1321.0,608.884408,9.708539,29084.0,Владимир,440.5,91.1,91.433379,98.483280,9265136.0
829,281.0,Коваленко Александр Ан,"АО ""Россельхозбанк""",1676.0,608.884408,9.591824,29084.0,Владимир,440.5,91.1,91.345769,98.496885,11755032.0
830,610.0,Нуриев Эдуард Рамзилович,"АО ""Россельхозбанк""",150100.0,617.884408,43.145711,67847.0,Казань,2469.2,102.1,946.305150,226.197191,226651.0
831,461.0,Самойленко Денис Сергеевич,ПАО Сбербанк,10000.0,636.884408,3.074139,84201.0,Тверь,441.7,130.5,315.461761,170.094175,8270000.0

In [7]:
selected_df = selected_df.dropna()

In [16]:
le = LabelEncoder()
label_encoded_df = selected_df[['contact_name', 'seller_name', 'region_capital']].copy()
for col in label_encoded_df.select_dtypes(include='O').columns:
    label_encoded_df[col]=le.fit_transform(label_encoded_df[col])

In [10]:
label_encoded_df

     contact_name  seller_name  region_capital
1              18           51               1
2              13           51              52
3              76           44              26
4               7            7              26
5              73           42              36
..            ...          ...             ...
827            51            2               6
828            51            2               6
829            51            2               6
830            70            2              15
831            80           42              43

[300 rows x 3 columns]

In [11]:
filled_df = pd.concat([selected_df[list(set(selected_df.columns) - set(['contact_name', 'seller_name', 'region_capital', 'price_value']))], label_encoded_df], axis=1)

In [12]:
filled_df.shape

(300, 12)

In [13]:
train_df = filled_df[:270]
test_df = filled_df[270:]

In [17]:
regression = LinearRegression()

NameError: name 'LinearRegression' is not defined

In [53]:
model = regression.fit(train_df.fillna(0), selected_df['price_value'][:270].fillna(0))

In [54]:
model.coef_

array([-1.45291902e+04,  3.38987306e+04, -2.76730604e+05,  1.62726439e+04,
        3.86170728e+03, -3.65365828e+04, -1.47677321e+04, -1.55207201e+01,
        4.99414587e-01, -1.80361172e+05,  3.32094599e+05, -5.55180263e+04])

In [56]:
model.predict(train_df[154:155].fillna(0))[0]

19780429.345412

In [45]:
train_df[154:155]

,views,shown_by_days,criminality,grp,km_to_msk,km_to_region_capital,distance,region_square,square,contact_name,seller_name,region_capital
154,145.0,64.884408,119.0,1259.4,1718.489257,NaN,NaN,1464173.0,NaN,69,12,54

In [55]:
selected_df[154:155]

,views,contact_name,seller_name,square,shown_by_days,distance,region_square,region_capital,grp,criminality,km_to_msk,km_to_region_capital,price_value
626,189.0,Сорокина Валерия Валерьевна,ПАО Сбербанк,200.0,195.884408,11.418301,142947.0,Уфа,1673.7,96.2,1173.106583,80.622672,25680.0

In [27]:
from sklearn.linear_model import LinearRegression

In [31]:
train_df

,views,shown_by_days,criminality,grp,km_to_msk,km_to_region_capital,distance,region_square,square,contact_name,seller_name,region_capital
0,1535.0,64.884407,72.9,4201.8,23.785924,NaN,NaN,44329.0,NaN,69,12,33
1,2311.0,293.884407,130.8,550.0,3077.808288,172.971129,8.221511,167996.0,25111.0,24,75,2
2,466.0,275.884407,105.1,560.6,137.376612,112.852414,15.086412,36177.0,50574.0,18,75,63
3,1286.0,207.884407,72.9,4201.8,142.859455,143.008314,49.688507,44329.0,504500.0,112,65,33
4,1057.0,215.884407,72.9,4201.8,37.925763,37.865816,16.159018,44329.0,10000.0,10,13,33
...,...,...,...,...,...,...,...,...,...,...,...,...
695,761.0,351.884408,86.0,4193.5,661.697638,NaN,NaN,1403.0,1100.0,121,82,46
696,403.0,357.884408,64.6,383.1,211.107380,28.050180,28.231895,39605.0,660.0,159,75,44
697,290.0,357.884408,130.8,550.0,2944.551449,NaN,NaN,167996.0,1700.0,22,75,2
698,344.0,359.884408,122.5,1318.5,1221.029232,91.532742,17.631267,160236.0,548800.0,41,62,40
699,313.0,359.884408,122.5,1318.5,1221.092906,91.541580,17.622324,160236.0,557200.0,41,62,40

In [ ]:
# todo необходимо проверить кодирование категориальных данных => ок
# todo необходимо сделать шкалирование => не помогает
# todo необходимо написать нормальную функцию оценки

In [57]:
from sklearn.preprocessing import StandardScaler
stdsc = StandardScaler()

In [58]:
X_std = stdsc.fit_transform(train_df)

In [72]:
Y_std = stdsc.fit_transform(np.array(selected_df['price_value'][:270]).reshape(-1,1))

In [73]:
Y_std

array([[ 1.90639225e+00],
       [-2.48223247e-01],
       [ 4.13509630e-02],
       [ 4.57291994e+00],
       [-3.14909361e-01],
       [-3.15159969e-01],
       [-3.14909361e-01],
       [-3.15410576e-01],
       [-3.15159969e-01],
       [-3.15159969e-01],
       [-3.15159969e-01],
       [ 3.18394785e-01],
       [-3.15161099e-01],
       [-3.10410585e-01],
       [-3.15873590e-01],
       [-2.67171639e-01],
       [-3.15387869e-01],
       [-3.07860483e-01],
       [-3.14076029e-01],
       [-3.15079698e-01],
       [-3.10731821e-01],
       [-3.05155814e-01],
       [-3.15891040e-01],
       [-2.60448016e-01],
       [-3.16664639e-01],
       [ 7.32349291e+00],
       [-3.12403283e-01],
       [-1.76402731e-01],
       [-3.12619891e-01],
       [-2.92996463e-01],
       [-3.13388447e-01],
       [ 1.41441257e-01],
       [-3.16345771e-01],
       [-3.15673409e-01],
       [-3.15749814e-01],
       [-3.12988544e-01],
       [-3.16483300e-01],
       [-3.12036540e-01],
       [-1.86029736e-01],
       [-3.15688690e-01],
       [-3.16286175e-01],
       [-2.98803228e-01],
       [-3.15373902e-01],
       [ 9.45219804e-01],
       [-3.14894080e-01],
       [-2.79243598e-01],
       [ 1.58317582e-02],
       [-6.80607175e-02],
       [-3.12005978e-01],
       [-3.15749814e-01],
       [ 3.96168150e+00],
       [ 5.99870086e-01],
       [ 4.95494396e+00],
       [-3.10600130e-01],
       [-3.16431956e-01],
       [-3.05173861e-01],
       [-3.13304860e-01],
       [-3.15917904e-01],
       [ 3.51563025e+00],
       [-1.13683523e-02],
       [-3.14820731e-01],
       [-2.07339617e-01],
       [-3.11700359e-01],
       [-1.13683523e-02],
       [-3.07947355e-01],
       [-3.12174069e-01],
       [-1.13683523e-02],
       [-3.10875187e-01],
       [-3.04762803e-01],
       [ 3.50325267e+00],
       [-1.79458923e-01],
       [ 5.00796890e+00],
       [-3.07818995e-01],
       [ 1.72003179e-01],
       [-3.13298748e-01],
       [-2.99414466e-01],
       [-2.63504208e-01],
       [-3.08603214e-01],
       [-5.72112352e-02],
       [ 3.12655288e-02],
       [-2.32942286e-01],
       [-3.03725990e-01],
       [ 8.50545114e-02],
       [-2.19495041e-01],
       [-2.39054671e-01],
       [-2.08492749e-01],
       [-1.94739884e-01],
       [-3.12476632e-01],
       [-2.63504208e-01],
       [-3.02684592e-01],
       [-1.99324172e-01],
       [-1.77166779e-01],
       [ 2.40309075e-01],
       [-2.25301806e-01],
       [ 1.91935696e-02],
       [-3.12284092e-01],
       [ 2.97765488e-01],
       [ 2.12956155e-01],
       [ 6.58005006e-02],
       [-3.09347091e-01],
       [-3.00178515e-01],
       [-3.07818995e-01],
       [-3.03234707e-01],
       [-3.16987572e-01],
       [-1.48438572e-01],
       [-1.63872343e-01],
       [-3.11196087e-01],
       [-3.01095372e-01],
       [-3.16987572e-01],
       [-3.16987572e-01],
       [-3.09347091e-01],
       [ 6.45780237e-02],
       [-3.10569568e-01],
       [-2.97886370e-01],
       [-3.16987572e-01],
       [-3.16672631e-01],
       [-3.16101276e-01],
       [-2.40582767e-01],
       [-3.06688204e-01],
       [-3.16987572e-01],
       [-3.12403283e-01],
       [-3.10951592e-01],
       [-3.11899012e-01],
       [-3.11746202e-01],
       [-3.11746202e-01],
       [-3.12265755e-01],
       [-3.10447320e-01],
       [-3.10447320e-01],
       [-3.12403283e-01],
       [-3.12403283e-01],
       [-3.12265755e-01],
       [-3.12265755e-01],
       [-3.12265755e-01],
       [-3.12265755e-01],
       [-3.12265755e-01],
       [-3.12265755e-01],
       [-3.12265755e-01],
       [-3.12265755e-01],
       [-3.12265755e-01],
       [-3.12265755e-01],
       [-3.12265755e-01],
       [-3.12265755e-01],
       [-3.12265755e-01],
       [-3.12265755e-01],
       [-3.12265755e-01],
       [-3.12265755e-01],
       [-3.12265755e-01],
       [-3.12265755e-01],
       [-3.12265755e-01],
       [-3.11834281e-01],
       [-3.04609993e-01],
       [ 4.52384711e-03],
       [-6.71438598e-02],
       [-2.90245890e-01],
       [-3.16595157e-01],
       [-2.86425650e-01],
       [ 7.49690772e-02],
       [-2.13009769e-02],
       [ 3.04482384e+00],
       [-3.12739052e-01],
       [-5.12516604e-02],
       [-2.52807536e-01],
       [-3.13274298e-01],
       [-2.68852545e-01],
       [-2.71144689e-01],
       [-3.08094052e-01],
       [-3.14332657e-01],
       [ 4.22909832e+00],
       [ 1.13219233e-01],
       [-2.83369457e-01],
       [-2.97886370e-01],
       [-1.79458923e-01],
       [-1.54398147e-01],
       [-1.11611456e-01],
       [-1.22308129e-01],
       [-1.67692583e-01],
       [-1.92294930e-01],
       [-2.01157887e-01],
       [-2.01005078e-01],
       [-1.71360014e-01],
       [-2.01157887e-01],
       [-2.34267390e-01],
       [-2.45167055e-01],
       [-3.12128226e-01],
       [-2.82758219e-01],
       [-3.15214002e-01],
       [-2.03908460e-01],
       [-3.15711306e-01],
       [-3.10111139e-01],
       [-2.84286315e-01],
       [-2.67324448e-01],
       [-3.13029803e-01],
       [-3.13934436e-01],
       [-3.14209493e-01],
       [-3.16359203e-01],
       [-3.16368693e-01],
       [-3.15551161e-01],
       [-2.80313265e-01],
       [ 8.29084501e-01],
       [ 2.58639501e+00],
       [ 5.23465281e-01],
       [ 7.64114776e-02],
       [-3.13014522e-01],
       [-3.08995323e-01],
       [-2.09715226e-01],
       [-1.45535190e-01],
       [-2.09715226e-01],
       [ 3.60698945e-03],
       [-2.14605133e-01],
       [-2.06964653e-01],
       [-4.68201817e-02],
       [-4.05549877e-02],
       [-1.99256904e-02],
       [ 1.09198430e-01],
       [-2.94677369e-01],
       [-3.13411827e-01],
       [-3.03656461e-01],
       [ 6.55944486e+00],
       [-3.08236746e-01],
       [-2.79243598e-01],
       [-3.08583104e-01],
       [ 4.68521090e-02],
       [-2.02380364e-01],
       [-2.02380364e-01],
       [-3.03234707e-01],
       [-2.02380364e-01],
       [-1.99324172e-01],
       [-2.96969513e-01],
       [ 6.74288366e-01],
       [ 6.11330807e-01],
       [-1.03054118e-01],
       [-3.06910358e-01],
       [-3.14793103e-01],
       [-9.18990166e-02],
       [-1.18335079e-01],
       [-2.51194966e-01],
       [-3.14249880e-01],
       [-2.60143268e-01],
       [-1.59526406e-02],
       [-5.29325661e-02],
       [-2.65032304e-01],
       [ 6.47088256e-01],
       [-3.13411827e-01],
       [-3.12245584e-01],
       [-3.15964358e-01],
       [-3.14030706e-01],
       [-1.99476982e-01],
       [-2.61976112e-01],
       [-1.55472582e-01],
       [-3.13590614e-01],
       [-7.35618634e-02],
       [-1.61885818e-01],
       [ 2.66812405e-02],
       [-3.13632270e-01],
       [-2.64726685e-01],
       [-2.39971528e-01],
       [ 6.09105931e-02],
       [-3.09457114e-01],
       [-3.09457114e-01],
       [-3.14440755e-01],
       [-3.12199542e-01],
       [-3.14957893e-01],
       [-3.03489394e-01],
       [-3.06581252e-01],
       [-1.45535190e-01],
       [ 3.60698945e-03],
       [-3.14466213e-01],
       [ 1.94459465e+00],
       [-3.04762803e-01],
       [-1.45183468e-01]])

In [74]:
model = regression.fit(X_std, Y_std)

In [81]:
model.predict(X_test[10:11])[0]

array([-0.16603159])

In [77]:
X_test = stdsc.fit_transform(test_df)

In [78]:
Y_test = stdsc.fit_transform(np.array(selected_df['price_value'][270:]).reshape(-1,1))

In [82]:
Y_test[10:11]

array([[-1.84000847]])

In [94]:
model.predict(X_test[98:99])

ValueError: Found array with 0 sample(s) (shape=(0, 12)) while a minimum of 1 is required by LinearRegression.

In [97]:
stdsc.inverse_transform(model.predict(X_test[21:22]))[0][0]

8308045.976460408

In [98]:
stdsc.inverse_transform(Y_test[21:22])[0][0]

8297248.0

In [123]:
delta_dict = {}
for i in range(28):
    try:
        delta_dict[i] = abs(stdsc.inverse_transform(model.predict(X_test[i:i+1]))[0][0] / stdsc.inverse_transform(Y_test[i:i+1])[0][0])
    except:
        pass

In [124]:
that_df = pd.DataFrame(data=[delta_dict]).T

In [125]:
that_df.median()[0]  # да в целом не все так плохо! можно жить ахах

0.7805488106367666

In [126]:
that_df.min()[0]

0.6289236242901495

In [127]:
that_df.max()[0]

75.27730850018717

In [128]:
that_df

            0
0    0.716408
1    0.763133
2    0.707759
3    0.687951
4    0.698291
5    0.628924
6    0.675230
7    0.671724
8    0.703144
9    0.668059
10   6.631709
11   0.807570
12   0.757733
13   7.882117
14   0.717845
15   0.665688
16   0.848414
17   0.840192
18   8.555488
19  75.277309
20   0.855383
21   1.001301
22   9.711783
23   0.852194
24   0.797965
25   0.811726
26   0.934210
27   0.735920

In [129]:
# нужно нормально оценить как то эти результаты

In [96]:
X_test

array([[-0.0769971 , -0.53433326, -0.34575576, -0.30784083, -0.35824391,
        -0.0428251 , -0.25012761, -0.35013769, -0.24729777, -0.23126176,
        -0.33333333, -0.36021694],
       [-0.08975905, -0.53433326, -0.34575576, -0.30784083, -0.35835803,
        -0.04225793, -0.25296048, -0.35013769, -0.25079504, -0.23126176,
        -0.33333333, -0.36021694],
       [ 0.2292897 , -0.53433326, -0.34575576, -0.30784083, -0.35847255,
        -0.04168745, -0.25578835, -0.35013769, -0.24722566, -0.23126176,
        -0.33333333, -0.36021694],
       [ 0.2803375 , -0.53433326, -0.34575576, -0.30784083, -0.3585927 ,
        -0.04108719, -0.25873664, -0.35013769, -0.24567532, -0.23126176,
        -0.33333333, -0.36021694],
       [-0.08975905, -0.53433326, -0.34575576, -0.30784083, -0.35788561,
        -0.04365986, -0.23519724, -0.35013769, -0.24578349, -0.23126176,
        -0.33333333, -0.36021694],
       [-0.06423515, -0.53433326, -0.34575576, -0.30784083, -0.35800858,
        -0.04305551, -0.23830459, -0.35013769, -0.23932976, -0.23126176,
        -0.33333333, -0.36021694],
       [ 0.0761463 , -0.53433326, -0.34575576, -0.30784083, -0.35813236,
        -0.04243346, -0.24133786, -0.35013769, -0.24412499, -0.23126176,
        -0.33333333, -0.36021694],
       [-0.40880779, -0.53433326, -0.34575576, -0.30784083, -0.35825221,
        -0.04184339, -0.24434452, -0.35013769, -0.24275492, -0.23126176,
        -0.33333333, -0.36021694],
       [-0.26842634, -0.53433326, -0.34575576, -0.30784083, -0.3583698 ,
        -0.04125764, -0.24724406, -0.35013769, -0.24581954, -0.23126176,
        -0.33333333, -0.36021694],
       [-0.1535688 , -0.53433326, -0.34575576, -0.30784083, -0.3584865 ,
        -0.04068165, -0.2501483 , -0.35013769, -0.24297125, -0.23126176,
        -0.33333333, -0.36021694],
       [-0.42156974, -0.53433326, -0.34575576, -0.30784083, -0.35860638,
        -0.04008932, -0.25312036, -0.35013769, -0.24192567, -0.23126176,
        -0.33333333, -0.36021694],
       [-0.29395024, -0.53433326, -0.34575576, -0.30784083, -0.3583405 ,
        -0.04434501, -0.26528833, -0.35013769, -0.25339095, -0.23126176,
        -0.33333333, -0.36021694],
       [-0.16633075, -0.53433326, -0.34575576, -0.30784083, -0.35845462,
        -0.04377578, -0.26812441, -0.35013769, -0.25025422, -0.23126176,
        -0.33333333, -0.36021694],
       [-0.33223609, -0.53433326, -0.34575576, -0.30784083, -0.35857039,
        -0.0431934 , -0.27096258, -0.35013769, -0.25205694, -0.23126176,
        -0.33333333, -0.36021694],
       [-0.25566439, -0.53433326, -0.34575576, -0.30784083, -0.35796282,
        -0.04534856, -0.25026681, -0.35013769, -0.24704539, -0.23126176,
        -0.33333333, -0.36021694],
       [-0.34499804, -0.53433326, -0.34575576, -0.30784083, -0.35809214,
        -0.04471004, -0.2535359 , -0.35013769, -0.24232227, -0.23126176,
        -0.33333333, -0.36021694],
       [-0.11528295, -0.0971515 , -0.34575576, -0.30784083, -0.35802546,
        -0.04702368, -0.26445942, -0.35013769, -0.25458074, -0.23126176,
        -0.33333333, -0.36021694],
       [-0.43433169, -0.0971515 , -0.34575576, -0.30784083, -0.35824138,
        -0.0459511 , -0.26990697, -0.35013769, -0.25353516, -0.23126176,
        -0.33333333, -0.36021694],
       [-0.1280449 , -0.0971515 , -0.34575576, -0.30784083, -0.35834698,
        -0.04543365, -0.2726079 , -0.35013769, -0.25497734, -0.23126176,
        -0.33333333, -0.36021694],
       [ 1.13538814, -0.0971515 ,  3.0647356 ,  1.76404373,  3.37679731,
        -2.02683775,  3.098339  ,  4.28970111, -0.1966054 , -2.03700425,
         3.        ,  2.47255702],
       [-0.35775999, -0.0971515 , -0.34575576, -0.30784083, -0.35798533,
        -0.0461046 , -0.25634178, -0.35013769, -0.25458074, -0.23126176,
        -0.33333333, -0.36021694],
       [-0.2046166 , -0.0971515 , -0.34575576, -0.30784083, -0.35804799,
        -0.04775999, -0.27042313, -0.35013769, -0.26211609, -0.23126176,
        -0.33333333, -0.36021694],
       [-2.52729146,  0.34003026,  1.14226117,  2.06538731,  2.75982877,
        -2.69919084,  0.52437669,  2.19290803,  1.5051584 ,  3.95045769,
         3.        ,  2.78730969],
       [-0.28118829,  0.48575751, -0.34575576, -0.30784083, -0.35834544,
        -0.04345233, -0.25987032, -0.35013769, -0.25241748, -0.23126176,
        -0.33333333, -0.36021694],
       [-0.1280449 ,  0.48575751, -0.34575576, -0.30784083, -0.35846146,
        -0.04287469, -0.26275003, -0.35013769, -0.24913654, -0.23126176,
        -0.33333333, -0.36021694],
       [-0.33223609,  0.48575751, -0.34575576, -0.30784083, -0.35858035,
        -0.04228314, -0.26569676, -0.35013769, -0.24971341, -0.23126176,
        -0.33333333, -0.36021694],
       [-0.2046166 ,  0.48575751, -0.34575576, -0.30784083, -0.35790802,
        -0.04446134, -0.2415402 , -0.35013769, -0.2571406 , -0.23126176,
        -0.33333333, -0.36021694],
       [-0.1790927 ,  0.48575751, -0.34575576, -0.30784083, -0.35822424,
        -0.04405545, -0.25685222, -0.35013769, -0.24434131, -0.23126176,
        -0.33333333, -0.36021694],
       [ 4.01958879,  1.79730279,  0.84900236,  4.47943959,  2.72766893,
         3.76572105,  4.14513952,  1.02120298,  5.10698474,  1.57448073,
        -0.33333333,  0.58404105],
       [ 2.11805827,  4.56612059,  3.93365059, -0.3050091 ,  0.45070075,
         2.09195878, -1.11191846,  1.59976773,  0.05577483,  2.52487151,
         3.        ,  3.52173257]])

In [2]:
X_test[10:11]

NameError: name 'X_test' is not defined

In [1]:
# у нас есть дата лик в виде цены на квадратный метр
# хотя не, вроде все ровно, мы убрали его ранее

### 22.1.23 review of what we got

In [8]:
from models_functions import encode_features, make_regression

In [9]:
from sklearn import metrics

In [11]:
lien_df = pd.read_csv('../data/lien_df1_18_01_23.csv', sep=';')

In [12]:
selected_df = lien_df[['views', 'contact_name', 'seller_name', 'square', 'shown_by_days', 'distance', 'region_square', 'region_capital', 'grp', 'criminality', 'km_to_msk', 'km_to_region_capital', 'price_value']].copy()

In [13]:
selected_df = selected_df.dropna()  # пока поработаем без null

In [14]:
# categorical features
cat_features_list = ['contact_name', 'seller_name', 'region_capital']

In [16]:
label_encoded_df = encode_features(selected_df)

In [17]:
model, X_test_std, Y_test_std, stdsc = make_regression(label_encoded_df, 'price_value')

In [18]:
model.predict(X_test_std[1:2])

array([[-0.20824906]])

In [19]:
# todo какие оценки нам надо сделать?: MAPE, RMSE

In [22]:
# давай протестируем со шкалированными данными и без

In [19]:
Y_pred_std = model.predict(X_test_std)

In [20]:
metrics.mean_absolute_percentage_error(Y_test_std, Y_pred_std)  # 127 %? .. 600%??

6.215795318267291

In [21]:
metrics.mean_absolute_error(Y_test_std, Y_pred_std)

0.609374526650863

In [22]:
0.609374526650863/ Y_test_std.max()

0.10951284082445209

In [38]:
# This is known as a scale-dependent accuracy measure and, therefore, cannot be used to make comparisons between series using different scales.

4.374120554533135

In [30]:
# It is for example not changed by a global scaling of the target variable.
# todo попробовать разные метрики добавить (например, MedError)

In [ ]:
# todo надо проделать для absolute values, надо сделать функцию для возврата absolute_error

In [11]:
# todo добавить фичу средняя цена за квадрат в регионе

In [10]:
# todo попробовать в encode_features все спрятать

,views,contact_name,seller_name,square,shown_by_days,distance,region_square,region_capital,grp,criminality,km_to_msk,km_to_region_capital,price_value
1,2311.0,Гаас Александра Георгиевна,Физическое лицо,25111.0,293.884407,8.221511,167996.0,Барнаул,550.0,130.8,3077.808288,172.971129,145500000.0
2,466.0,Брюнель Ева Жисленовна,Физическое лицо,50574.0,275.884407,15.086412,36177.0,Ярославль,560.6,105.1,137.376612,112.852414,4500000.0
3,1286.0,Плесняев Александр Александрович,Плесняев Александр Александрович,504500.0,207.884407,49.688507,44329.0,Москва,4201.8,72.9,142.859455,143.008314,23450000.0
4,1057.0,Беликин Иван Владимирович,Беликин Иван Владимирович,10000.0,215.884407,16.159018,44329.0,Москва,4201.8,72.9,37.925763,37.865816,320000000.0
5,812.0,Остроухова Алла,ПАО Сбербанк,2400.0,674.884407,8.780511,100967.0,Ростов-на-Дону,1446.2,104.8,945.986855,17.188847,136000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
827,269.0,Коваленко Александр Ан,"АО ""Россельхозбанк""",1527.0,608.884408,9.524407,29084.0,Владимир,440.5,91.1,91.247107,98.556292,10709963.0
828,279.0,Коваленко Александр Ан,"АО ""Россельхозбанк""",1321.0,608.884408,9.708539,29084.0,Владимир,440.5,91.1,91.433379,98.483280,9265136.0
829,281.0,Коваленко Александр Ан,"АО ""Россельхозбанк""",1676.0,608.884408,9.591824,29084.0,Владимир,440.5,91.1,91.345769,98.496885,11755032.0
830,610.0,Нуриев Эдуард Рамзилович,"АО ""Россельхозбанк""",150100.0,617.884408,43.145711,67847.0,Казань,2469.2,102.1,946.305150,226.197191,226651.0
831,461.0,Самойленко Денис Сергеевич,ПАО Сбербанк,10000.0,636.884408,3.074139,84201.0,Тверь,441.7,130.5,315.461761,170.094175,8270000.0

In [21]:
selected_df.shape

(300, 13)

### 28.1.23

In [ ]:
# нужен пример конвейера

In [43]:
from models_functions import model_conveyor, encode_features

In [2]:
import pandas as pd

In [20]:
import numpy as np

In [12]:
import ast

In [3]:
pd.options.display.float_format = '{:_.2f}'.format

In [129]:
lien_df = pd.read_csv('../data/lien_df1_18_01_23.csv', sep=';')

In [130]:
lien_df['cadastral_lat'] = lien_df['cadastral_geocode'].apply(lambda x: decode_lat_geocode(x))
lien_df['cadastral_long'] = lien_df['cadastral_geocode'].apply(lambda x: decode_long_geocode(x))
lien_df['region_lat'] = lien_df['region_geocode'].apply(lambda x: decode_lat_geocode(x))
lien_df['region_long'] = lien_df['region_geocode'].apply(lambda x: decode_long_geocode(x))
lien_df['region_capital_lat'] = lien_df['region_capital_geocode'].apply(lambda x: decode_lat_geocode(x))
lien_df['region_capital_long'] = lien_df['region_capital_geocode'].apply(lambda x: decode_long_geocode(x))

In [131]:
lien_df.to_csv('../data/lien_df1_29_01_23.csv', sep=';', index=False)

In [72]:
lien_df[:1]

,asset_id,views,publication_date,contact_name,seller_name,square,price_value,cadastral_geocode,region_geocode,shown_by_days,distance,region_square,population,region_capital,grp,criminality,km_to_msk,region_capital_geocode,km_to_region_capital
0,814_114.00,1_535.00,15 ноября 2022,Контактный Центр Банка,Банк ВТБ (ПАО),NaN,48_700_000.00,NaN,"[55.6711507, 37.2727963]",64.88,NaN,44_329.00,8_542_257.00,Москва,4_201.80,72.90,23.79,"[55.7504461, 37.6174943]",NaN

In [78]:
selected_df = lien_df[['views', 'contact_name', 'seller_name', 'square', 'cadastral_geocode', 'region_geocode','shown_by_days', 'distance', 'region_square', 'population', 'region_capital', 'grp', 'criminality', 'km_to_msk', 'region_capital_geocode', 'km_to_region_capital',  'price_value']].copy()

In [80]:
selected_df['cadastral_lat'] = selected_df['cadastral_geocode'].apply(lambda x: decode_lat_geocode(x))
selected_df['cadastral_long'] = selected_df['cadastral_geocode'].apply(lambda x: decode_long_geocode(x))
selected_df['region_lat'] = selected_df['region_geocode'].apply(lambda x: decode_lat_geocode(x))
selected_df['region_long'] = selected_df['region_geocode'].apply(lambda x: decode_long_geocode(x))
selected_df['region_capital_lat'] = selected_df['region_capital_geocode'].apply(lambda x: decode_lat_geocode(x))
selected_df['region_capital_long'] = selected_df['region_capital_geocode'].apply(lambda x: decode_long_geocode(x))

In [81]:
selected_df = selected_df.dropna()  # пока поработаем без null

In [83]:
selected_df = encode_features(selected_df)

In [85]:
model, metrics_df, X_train_scaled, Y_train_scaled, X_test_scaled, Y_test_scaled, scaler_x_train, \
scaler_y_train, scaler_x_test, scaler_y_test = model_conveyor(selected_df, 'linear_regression', 'minmax', ['mape', 'mae', 'mse'], True, 'model_dumps/')

100%|██████████| 3/3 [00:00<00:00, 1252.16it/s]

mape
mae
mse

In [87]:
metrics_df # ну хм удалось улучшить

,mape,mae,mse
train_scaled,3_517_468_985_815.60,0.06,0.01
test_scaled,7_252_560_655_430.76,0.17,0.06
train_unscaled,1_758_734_492_877_115_621_376.00,29_627_749.42,3_197_121_702_184_335.00
test_unscaled,1_073_378_976_996_409_475_072.00,42_983_507.81,9_434_311_743_003_102.00

In [88]:
# визуализация результатов
# засунуть в функцию

In [95]:
pred_df = pd.DataFrame(scaler_y_test.inverse_transform(model.predict(X_test_scaled)))

In [96]:
true_df = pd.DataFrame(scaler_y_test.inverse_transform(Y_test_scaled))

In [104]:
pred_df = pred_df.rename(columns={0: 'pred'})
true_df = true_df.rename(columns={0: 'true'})

In [115]:
import plotly.express as px

In [116]:
pd.options.plotting.backend = "plotly"

In [120]:
joined_df = pred_df.join(true_df)

In [121]:
joined_df = joined_df.sort_values(by='true')

In [123]:
joined_df = joined_df.reset_index(drop=True)

In [124]:
joined_df

             pred           true
0   14_300_280.65           0.00
1   25_371_589.67      85_000.00
2   27_761_541.60     105_600.00
3   40_854_922.44     141_800.00
4      915_697.67     173_740.00
5   15_783_391.79     219_574.00
6   19_202_946.88     222_300.00
7   22_742_528.84     243_000.00
8    1_174_017.55     278_027.00
9    8_539_033.09     295_200.00
10  46_560_327.81     309_000.00
11  46_180_388.26     309_000.00
12  45_664_367.16     309_000.00
13  45_411_476.80     309_000.00
14  47_193_643.95     309_000.00
15  46_514_784.56     309_000.00
16  47_453_612.50     309_000.00
17  48_406_512.40     313_333.00
18  44_585_292.87     337_236.00
19  47_874_261.26     343_000.00
20  33_694_503.12     492_800.00
21  34_345_711.80     492_800.00
22   8_761_314.53     500_000.00
23  -2_284_130.44     548_680.00
24  12_587_772.46     572_662.00
25  27_270_491.44     659_462.00
26     881_887.89     674_000.00
27   4_910_470.46     774_281.00
28  10_285_706.46     867_850.00
29  23_347_576.21     883_333.00
30  15_844_448.80     900_000.00
31  54_803_291.04   1_040_000.00
32  10_687_272.94   1_222_494.00
33  33_168_271.41   3_400_000.00
34  -5_506_547.59   5_100_000.00
35  26_025_057.54   6_700_000.00
36  16_694_938.43   7_020_000.00
37  30_102_712.64   7_580_000.00
38  30_088_639.10   7_580_000.00
39  24_120_605.26   8_570_000.00
40  29_529_630.09   9_530_000.00
41  10_809_183.02   9_763_115.00
42   9_577_092.39   9_994_581.00
43  59_817_159.98  10_020_000.00
44  28_875_179.14  10_640_000.00
45   9_684_454.26  10_822_193.00
46  16_906_584.54  11_220_000.00
47  11_305_821.13  11_228_982.00
48  11_069_513.48  11_243_017.00
49  12_206_782.30  11_474_483.00
50  11_001_083.63  12_147_785.00
51  28_107_739.04  12_740_000.00
52   1_727_400.70  19_440_000.00
53  34_659_056.10  21_040_000.00
54  36_306_736.28  24_730_000.00
55   1_362_243.54  28_153_125.00
56  96_153_017.79  32_000_000.00
57  90_562_384.72  82_600_000.00
58 -17_674_455.20 145_500_000.00
59  35_216_878.96 148_000_000.00

In [126]:
fig = joined_df.plot(x=joined_df.index, y=['pred', 'true'])

In [128]:
fig.write_html('exmpl_html.html')

In [ ]:
# сортируем по возрастанию и рисуем

In [ ]:
# TODO
# на unscaled оценки - пиздец, надо внимательно проверить функцию, точно ли все ок делаем ну и в целом модель говно

In [16]:
# конвейер работает => надо играться с данными, добавлять больше моделей

In [17]:
selected_df

,views,contact_name,seller_name,square,shown_by_days,distance,region_square,region_capital,grp,criminality,km_to_msk,km_to_region_capital,price_value
1,2_311.00,Гаас Александра Георгиевна,Физическое лицо,25_111.00,293.88,8.22,167_996.00,Барнаул,550.00,130.80,3_077.81,172.97,145_500_000.00
2,466.00,Брюнель Ева Жисленовна,Физическое лицо,50_574.00,275.88,15.09,36_177.00,Ярославль,560.60,105.10,137.38,112.85,4_500_000.00
3,1_286.00,Плесняев Александр Александрович,Плесняев Александр Александрович,504_500.00,207.88,49.69,44_329.00,Москва,4_201.80,72.90,142.86,143.01,23_450_000.00
4,1_057.00,Беликин Иван Владимирович,Беликин Иван Владимирович,10_000.00,215.88,16.16,44_329.00,Москва,4_201.80,72.90,37.93,37.87,320_000_000.00
5,812.00,Остроухова Алла,ПАО Сбербанк,2_400.00,674.88,8.78,100_967.00,Ростов-на-Дону,1_446.20,104.80,945.99,17.19,136_000.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
827,269.00,Коваленко Александр Ан,"АО ""Россельхозбанк""",1_527.00,608.88,9.52,29_084.00,Владимир,440.50,91.10,91.25,98.56,10_709_963.00
828,279.00,Коваленко Александр Ан,"АО ""Россельхозбанк""",1_321.00,608.88,9.71,29_084.00,Владимир,440.50,91.10,91.43,98.48,9_265_136.00
829,281.00,Коваленко Александр Ан,"АО ""Россельхозбанк""",1_676.00,608.88,9.59,29_084.00,Владимир,440.50,91.10,91.35,98.50,11_755_032.00
830,610.00,Нуриев Эдуард Рамзилович,"АО ""Россельхозбанк""",150_100.00,617.88,43.15,67_847.00,Казань,2_469.20,102.10,946.31,226.20,226_651.00
831,461.00,Самойленко Денис Сергеевич,ПАО Сбербанк,10_000.00,636.88,3.07,84_201.00,Тверь,441.70,130.50,315.46,170.09,8_270_000.00

In [9]:
lien_df  # попробуем вскрыть геокод

,asset_id,views,publication_date,contact_name,seller_name,square,price_value,cadastral_geocode,region_geocode,shown_by_days,distance,region_square,population,region_capital,grp,criminality,km_to_msk,region_capital_geocode,km_to_region_capital
0,814_114.00,1_535.00,15 ноября 2022,Контактный Центр Банка,Банк ВТБ (ПАО),NaN,48_700_000.00,NaN,"[55.6711507, 37.2727963]",64.88,NaN,44_329.00,8_542_257.00,Москва,4_201.80,72.90,23.79,"[55.7504461, 37.6174943]",NaN
1,641_505.00,2_311.00,31 марта 2022,Гаас Александра Георгиевна,Физическое лицо,25_111.00,145_500_000.00,"[51.94720028246027, 84.88831594503662]","[51.9931851, 84.9819571]",293.88,8.22,167_996.00,2_154_932.00,Барнаул,550.00,130.80,3_077.81,"[53.347402, 83.7784496]",172.97
2,169_347.00,466.00,18 апреля 2022,Брюнель Ева Жисленовна,Физическое лицо,50_574.00,4_500_000.00,"[56.77190698765615, 38.88962726762723]","[56.80208355, 38.64899133747492]",275.88,15.09,36_177.00,1_205_637.00,Ярославль,560.60,105.10,137.38,"[57.6263877, 39.8933705]",112.85
3,899_895.00,1_286.00,25 июня 2022,Плесняев Александр Александрович,Плесняев Александр Александрович,504_500.00,23_450_000.00,"[55.73199800626753, 35.340751735565306]","[55.506478, 36.0213092]",207.88,49.69,44_329.00,8_542_257.00,Москва,4_201.80,72.90,142.86,"[55.7504461, 37.6174943]",143.01
4,269_183.00,1_057.00,17 июня 2022,Беликин Иван Владимирович,Беликин Иван Владимирович,10_000.00,320_000_000.00,"[55.7008175028533, 37.02131098410721]","[55.6711507, 37.2727963]",215.88,16.16,44_329.00,8_542_257.00,Москва,4_201.80,72.90,37.93,"[55.7504461, 37.6174943]",37.87
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
827,691_104.00,269.00,20 мая 2021,Коваленко Александр Ан,"АО ""Россельхозбанк""",1_527.00,10_709_963.00,"[56.21913602478085, 38.82900562858026]","[56.1345574, 38.85192758087219]",608.88,9.52,29_084.00,1_342_235.00,Владимир,440.50,91.10,91.25,"[56.1288899, 40.4075203]",98.56
828,630_263.00,279.00,20 мая 2021,Коваленко Александр Ан,"АО ""Россельхозбанк""",1_321.00,9_265_136.00,"[56.220926330893064, 38.83048310378695]","[56.1345574, 38.85192758087219]",608.88,9.71,29_084.00,1_342_235.00,Владимир,440.50,91.10,91.43,"[56.1288899, 40.4075203]",98.48
829,177_552.00,281.00,20 мая 2021,Коваленко Александр Ан,"АО ""Россельхозбанк""",1_676.00,11_755_032.00,"[56.21983629294916, 38.8300820194728]","[56.1345574, 38.85192758087219]",608.88,9.59,29_084.00,1_342_235.00,Владимир,440.50,91.10,91.35,"[56.1288899, 40.4075203]",98.50
830,841_885.00,610.00,11 мая 2021,Нуриев Эдуард Рамзилович,"АО ""Россельхозбанк""",150_100.00,226_651.00,"[55.822853130025955, 52.73092958759532]","[55.682141200000004, 52.09069161386946]",617.88,43.15,67_847.00,4_000_084.00,Казань,2_469.20,102.10,946.31,"[55.7823547, 49.1242266]",226.20
831,419_254.00,461.00,22 апреля 2021,Самойленко Денис Сергеевич,ПАО Сбербанк,10_000.00,8_270_000.00,"[57.14073651577907, 33.14393000643601]","[57.1557583, 33.1013213]",636.88,3.07,84_201.00,1_226_038.00,Тверь,441.70,130.50,315.46,"[56.8596713, 35.89524161906262]",170.09

In [15]:
ast.literal_eval(lien_df['cadastral_geocode'][1])

[51.94720028246027, 84.88831594503662]

In [17]:
lien_df1 = lien_df.copy()

In [30]:
# лучшие практики программирования

In [28]:
def decode_lat_geocode(x):
    if '[' in str(x):
        lat_var =  ast.literal_eval(x)[0]
        return lat_var
    else:
        return np.NaN

In [31]:
def decode_long_geocode(x):
    if '[' in str(x):
        long_var =  ast.literal_eval(x)[1]
        return long_var
    else:
        return np.NaN

In [32]:
lien_df1['cadastral_lat'] = lien_df1['cadastral_geocode'].apply(lambda x: decode_lat_geocode(x))
lien_df1['cadastral_long'] = lien_df1['cadastral_geocode'].apply(lambda x: decode_long_geocode(x))
lien_df1['region_lat'] = lien_df1['region_geocode'].apply(lambda x: decode_lat_geocode(x))
lien_df1['region_long'] = lien_df1['region_geocode'].apply(lambda x: decode_long_geocode(x))

In [37]:
# good! залетаем в моделирование!!!

In [54]:
selected_df1 = lien_df1[['views', 'contact_name', 'seller_name', 'square', 'shown_by_days', 'distance', 'region_square', 'region_capital', 'grp', 'criminality', 'km_to_msk', 'km_to_region_capital', 'cadastral_lat',
 'cadastral_long', 'region_lat', 'region_long', 'price_value']].copy()

In [55]:
selected_df1 = encode_features(selected_df1)

In [56]:
selected_df1 = selected_df1.dropna()  # пока поработаем без null
model1, metrics_df1, X_train_scaled, Y_train_scaled, X_test_scaled, Y_test_scaled, scaler_x_train, scaler_y_train, scaler_x_test, scaler_y_test = model_conveyor(
    selected_df, 'linear_regression', 'minmax', ['mape', 'mae', 'mse'], True, 'model_dumps/')

100%|██████████| 3/3 [00:00<00:00, 944.88it/s]

mape
mae
mse

In [62]:
selected_df1[:1]

,views,contact_name,seller_name,square,shown_by_days,distance,region_square,region_capital,grp,criminality,km_to_msk,km_to_region_capital,cadastral_lat,cadastral_long,region_lat,region_long,price_value
1,2_311.00,24,75,25_111.00,293.88,8.22,167_996.00,2,550.00,130.80,3_077.81,172.97,51.95,84.89,51.99,84.98,145_500_000.00

In [69]:
selected_df1.loc[selected_df1['square']==23391]

,views,contact_name,seller_name,square,shown_by_days,distance,region_square,region_capital,grp,criminality,km_to_msk,km_to_region_capital,cadastral_lat,cadastral_long,region_lat,region_long,price_value
751,348.00,100,49,23_391.00,488.88,30.92,83_908.00,46,1_104.40,112.40,622.37,38.27,59.62,30.05,59.35,30.15,3_400_000.00

In [66]:
scaler_x_train.inverse_transform(X_train_scaled[:1])

array([[6.80000000e+01, 3.90000000e+01, 3.09150826e+01, 3.40000000e+01,
        3.48000000e+02, 2.33910000e+04, 1.10440000e+03, 3.82703890e+01,
        1.12400000e+02, 8.39080000e+04, 6.22366373e+02, 4.88884408e+02]])

In [58]:
metrics_df1  # геокоды не дают нормального реза

,mape,mae,mse
train_scaled,1_707_820_159_334.16,0.05,0.01
test_scaled,8_537_012_841_724.05,0.18,0.05
train_unscaled,853_910_079_635_404_095_488.00,27_248_640.97,3_446_464_484_624_697.50
test_unscaled,2_390_363_595_648_223_150_080.00,52_765_198.48,5_309_346_036_052_963.00

In [57]:
metrics_df

,mape,mae,mse
train_scaled,1_486_736_823_294.61,0.05,0.01
test_scaled,23_701_475_694_168.22,0.22,0.08
train_unscaled,669_031_570_462_310_662_144.00,21_622_282.27,2_165_457_468_386_866.75
test_unscaled,11_850_737_846_978_095_349_760.00,109_645_699.63,20_333_877_982_552_680.00

In [ ]:
# ну блять а encodить кто будет?

In [59]:
# погнали дальше набьем все метрики

In [ ]:
# todo визуализировать результаты

In [61]:
model1.predict(X_test_scaled)

array([[ 0.33514931],
       [ 0.60653721],
       [ 0.07872473],
       [ 0.17350262],
       [ 0.33497516],
       [ 0.12048106],
       [-0.0122369 ],
       [ 0.08632093],
       [ 0.04285197],
       [ 0.12069366],
       [ 0.33517954],
       [ 0.28404201],
       [ 0.27218623],
       [ 0.62198473],
       [ 0.18205457],
       [ 0.05313905],
       [ 0.12196616],
       [ 0.05068173],
       [ 0.20140185],
       [ 0.20668423],
       [ 0.62153047],
       [ 0.00888641],
       [ 0.33456781],
       [ 0.06169674],
       [ 0.05283165],
       [ 0.29351801],
       [ 0.09619107],
       [ 0.16519962],
       [ 0.28150524],
       [ 0.1449217 ],
       [-0.05087981],
       [ 0.16110521],
       [ 0.31693021],
       [ 0.09771067],
       [ 0.29029391],
       [-0.00534207],
       [ 0.16108526],
       [-0.06026086],
       [-0.00721419],
       [ 0.33506086],
       [ 0.14220713],
       [ 0.10926264],
       [-0.01028688],
       [ 0.6135574 ],
       [ 0.05720459],
       [ 0.10383674],
       [ 0.13185106],
       [ 0.21403706],
       [-0.0406971 ],
       [ 0.17903117],
       [ 0.07901257],
       [ 0.1208087 ],
       [ 0.03718225],
       [ 0.07681256],
       [ 0.18739211],
       [ 0.61071116],
       [ 0.546468  ],
       [ 0.14542919],
       [ 0.0369233 ],
       [ 0.29673437]])