In [1]:
import pandas as pd
from pandas_profiling import ProfileReport

In [50]:
import numpy as np

In [39]:
from datetime import datetime as dt

In [10]:
import re

In [3]:
lien_df = pd.read_csv(r'/Users/dp_user/PycharmProjects/portal_da/data/refined_df_00_09_17_01_2023.csv', sep=';')

In [19]:
lien_df['views'] = lien_df['views'].apply(lambda x: re.sub('\D+', '', str(x)))

ValueError: could not convert string to float: ''

In [34]:
lien_df['views'] = lien_df['views'].apply(pd.to_numeric)

In [54]:
lien_profile = ProfileReport(lien_df, title="Lien Data Profiling Report")

In [55]:
lien_profile.to_file("lien_profile.html")

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [35]:
# окей, есть репорт, надо попробовать что то из него вытащить
# основная проблема, что нет корреляций хороших
# надо что то искать в днях простоя объекта и в геолокации
# корреляции между днем простоя и ценой тоже нет => надо уходить в геолокацию
# TODO - надо еще добавить факт аукциона - эта тема тоже не работает, в общем надо генерит
# и также похоже фича seller залетает норм

In [40]:
date_exmpl = '15 ноября 2022'

In [41]:
import locale
locale.setlocale(locale.LC_TIME, 'ru_RU.UTF-8')

'ru_RU.UTF-8'

In [43]:
pd.to_datetime(date_exmpl, format='%d %B %Y')

Timestamp('2022-11-15 00:00:00')

In [46]:
(dt.now() - pd.to_datetime(date_exmpl, format='%d %B %Y')).total_seconds()/60/60/24

63.03648428177084

In [49]:
lien_df

,asset_id,views,publication_date,contact_name,seller_name,square,price_value,cadastral_geocode,region_geocode
0,814114.0,1535.0,15 ноября 2022,Контактный Центр Банка,Банк ВТБ (ПАО),NaN,48700000.0,NaN,"[55.6711507, 37.2727963]"
1,814114.0,1535.0,15 ноября 2022,Контактный Центр Банка,Банк ВТБ (ПАО),NaN,48700000.0,NaN,"[55.6711507, 37.2727963]"
2,641505.0,2311.0,31 марта 2022,Гаас Александра Георгиевна,Физическое лицо,25111.0,145500000.0,"[51.94720028246027, 84.88831594503662]","[51.9931851, 84.9819571]"
3,169347.0,466.0,18 апреля 2022,Брюнель Ева Жисленовна,Физическое лицо,50574.0,4500000.0,"[56.77190698765615, 38.88962726762723]","[56.80208355, 38.64899133747492]"
4,899895.0,1286.0,25 июня 2022,Плесняев Александр Александрович,Плесняев Александр Александрович,504500.0,23450000.0,"[55.73199800626753, 35.340751735565306]","[55.506478, 36.0213092]"
...,...,...,...,...,...,...,...,...,...
844,691104.0,269.0,20 мая 2021,Коваленко Александр Ан,"АО ""Россельхозбанк""",1527.0,10709963.0,"[56.21913602478085, 38.82900562858026]","[56.1345574, 38.85192758087219]"
845,630263.0,279.0,20 мая 2021,Коваленко Александр Ан,"АО ""Россельхозбанк""",1321.0,9265136.0,"[56.220926330893064, 38.83048310378695]","[56.1345574, 38.85192758087219]"
846,177552.0,281.0,20 мая 2021,Коваленко Александр Ан,"АО ""Россельхозбанк""",1676.0,11755032.0,"[56.21983629294916, 38.8300820194728]","[56.1345574, 38.85192758087219]"
847,841885.0,610.0,11 мая 2021,Нуриев Эдуард Рамзилович,"АО ""Россельхозбанк""",150100.0,226651.0,"[55.822853130025955, 52.73092958759532]","[55.682141200000004, 52.09069161386946]"
848,419254.0,461.0,22 апреля 2021,Самойленко Денис Сергеевич,ПАО Сбербанк,10000.0,8270000.0,"[57.14073651577907, 33.14393000643601]","[57.1557583, 33.1013213]"

In [51]:
def get_day_delta(x):
    try:
        day_delta = (dt.now() - pd.to_datetime(str(x), format='%d %B %Y')).total_seconds()/60/60/24
    except:
        day_delta = np.NaN
    return day_delta

In [52]:
lien_df['shown_by_days'] = lien_df['publication_date'].apply(lambda x: get_day_delta(x))

In [53]:
lien_df

,asset_id,views,publication_date,contact_name,seller_name,square,price_value,cadastral_geocode,region_geocode,shown_by_days
0,814114.0,1535.0,15 ноября 2022,Контактный Центр Банка,Банк ВТБ (ПАО),NaN,48700000.0,NaN,"[55.6711507, 37.2727963]",63.038917
1,814114.0,1535.0,15 ноября 2022,Контактный Центр Банка,Банк ВТБ (ПАО),NaN,48700000.0,NaN,"[55.6711507, 37.2727963]",63.038917
2,641505.0,2311.0,31 марта 2022,Гаас Александра Георгиевна,Физическое лицо,25111.0,145500000.0,"[51.94720028246027, 84.88831594503662]","[51.9931851, 84.9819571]",292.038917
3,169347.0,466.0,18 апреля 2022,Брюнель Ева Жисленовна,Физическое лицо,50574.0,4500000.0,"[56.77190698765615, 38.88962726762723]","[56.80208355, 38.64899133747492]",274.038917
4,899895.0,1286.0,25 июня 2022,Плесняев Александр Александрович,Плесняев Александр Александрович,504500.0,23450000.0,"[55.73199800626753, 35.340751735565306]","[55.506478, 36.0213092]",206.038917
...,...,...,...,...,...,...,...,...,...,...
844,691104.0,269.0,20 мая 2021,Коваленко Александр Ан,"АО ""Россельхозбанк""",1527.0,10709963.0,"[56.21913602478085, 38.82900562858026]","[56.1345574, 38.85192758087219]",607.038918
845,630263.0,279.0,20 мая 2021,Коваленко Александр Ан,"АО ""Россельхозбанк""",1321.0,9265136.0,"[56.220926330893064, 38.83048310378695]","[56.1345574, 38.85192758087219]",607.038918
846,177552.0,281.0,20 мая 2021,Коваленко Александр Ан,"АО ""Россельхозбанк""",1676.0,11755032.0,"[56.21983629294916, 38.8300820194728]","[56.1345574, 38.85192758087219]",607.038918
847,841885.0,610.0,11 мая 2021,Нуриев Эдуард Рамзилович,"АО ""Россельхозбанк""",150100.0,226651.0,"[55.822853130025955, 52.73092958759532]","[55.682141200000004, 52.09069161386946]",616.038918
848,419254.0,461.0,22 апреля 2021,Самойленко Денис Сергеевич,ПАО Сбербанк,10000.0,8270000.0,"[57.14073651577907, 33.14393000643601]","[57.1557583, 33.1013213]",635.038918

In [56]:
new_keys_df = pd.read_excel('/Users/dp_user/PycharmProjects/portal_da/data/new_keys_15_01_23.xlsx')

In [60]:
buf_df = new_keys_df.loc[new_keys_df['links'].str.contains('842168')]

In [69]:
buf_df['new_keys'].to_string()

"753    ['general.authorized_to_toggle_favorite']"

In [59]:
new_keys_df['new_keys'].unique()

array(["['general.authorized_to_toggle_favorite', 'general.credits']",
       "['general.authorized_to_toggle_favorite']",
       "['general.authorized_to_toggle_favorite', 'general.trade_id', 'general.credits']",
       "['general.featured_personal_assets', 'general.featured_business_assets', 'general.recommended_assets']",
       "['general.trade_id', 'general.authorized_to_toggle_favorite']"],
      dtype=object)

In [74]:
def append_trades(x):
    buf_df = new_keys_df.loc[new_keys_df['links'].str.contains(str(x).replace('.0', ''))].copy()
    if 'trade' in buf_df['new_keys'].to_string():
        return 1
    else:
        return 0

In [75]:
lien_df['trades'] = lien_df['asset_id'].apply(lambda x: append_trades(x))

In [87]:
lien_df.loc[lien_df['credits']==1]

Empty DataFrame
Columns: [asset_id, views, publication_date, contact_name, seller_name, square, price_value, cadastral_geocode, region_geocode, shown_by_days, trades, credits]
Index: []

In [85]:
def append_credits(x):
    buf_df = new_keys_df.loc[new_keys_df['links'].str.contains(str(x).replace('.0', ''))].copy()
    if 'credit' in buf_df['new_keys'].to_string():
        return 1
    else:
        return 0

In [86]:
lien_df['credits'] = lien_df['asset_id'].apply(lambda x: append_credits(x))